  <div class="border">
    <div class="container py-3">
      <form action="/catalogue" method="get">
        <div class="row">
          <div class="col-10">
            <input class="form-control" placeholder="Type a product ..." type="text" name="search">
          </div>
          <button class="btn btn-primary col-2  d-flex align-items-center justify-content-center" type="submit">
            <i class="bi bi-search"></i>
            <div class="mx-1 d-none d-md-block"></div>
            <span class="d-md-block d-none"> Search </span>
          </button>
        </div>
      </form>
    </div>
  </div>
