<div class="">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 border"
    style="width: 300px; min-height: 100vh; height: 100%"
  >
    <!-- Menu navigasi -->
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="d-flex align-items-center">
        <i class="bi bi-box-seam-fill"></i>
        <a href="/admin/products" class="nav-link text-secondary"> Products </a>
      </li>
      <li class="d-flex align-items-center">
        <i class="bi bi-box-seam-fill"></i>
        <a href="/admin/orders" class="nav-link text-secondary"> Orders </a>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="<%= user.Biodatum.image %>"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong> <%= user.Biodatum.firstName %> </strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="/profile">Profile</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <form action="/logout" method="POST">
            <button class="dropdown-item" href="/logout">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
