<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/meta.ejs") %>
    <title><%= title %></title>
  </head>
  <style>
    .admin-layout {
      display: flex;
    }

    main {
      padding: 2rem;
    }
  </style>

  <body>
    <%- include("../layouts/sidebar-admin.ejs") %>
    <main></main>
    <%- include("../partials/scripts.ejs") %>
  </body>
</html>
